version: '3'

services:
  json-server:
   build: ./json-server
   container_name: test-json-server
   ports: 
    - '8080:8080'
   volumes:
    - ./json-server:/data
    - json-node-modules:/data/node_modules
   networks:
      recommend-internal:
        ipv4_address: 172.31.0.6
   command:  sh -c 'npm run watch'

  node:
    build: ./recommend-music
    volumes:
      - ./recommend-music:/usr/src/app
      - react-node-modules:/usr/src/app/node_modules
    command: sh -c 'npm run start'
    ports:
      - '3000:3000'
  proxy:
    build: ./proxy
    ports:
      - '8000:8000'
    volumes:
      - ./proxy:/go/src/app
    networks:
      recommend-internal:
        ipv4_address: 172.31.0.7

networks:
  recommend-internal:
    ipam:
      driver: default
      config:
        - subnet: "172.31.0.0/24"
volumes:
  react-node-modules:
  json-node-modules: